h1 {text-align: center}
body {background-color: #383838; color: GhostWhite}
ul[name="menu"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:link, a:visited {display: inline; color: GhostWhite; background-color: black}
a:hover {color: crimson}
